.o_budget_template_revenue_page {
    max-height: calc(85vh);
    overflow-y: auto;
}

.table-header {

    top: 0;
    background-color: white;
    z-index: 10;
}

.o_budget_template_revenue_expandable{
    
}
